name: Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  unit:
    name: PHPUnit unit tests - PHP ${{ matrix.php }} Symfony ${{ matrix.symfony }}
    strategy:
      matrix:
        php: ['8.4']
        symfony: ['^6', '^7', '^8']
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup php
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}

      - name: Install Composer dependencies
        run: |
          sed -i 's/"\^6 || \^7 || \^8"/\"${{ matrix.symfony }}"/g' composer.json
          composer install --no-progress --prefer-dist --optimize-autoloader

      - name: Run PHPUnit unit tests
        run: composer test
