name: Tests

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  unit:
    name: PHPUnit unit tests - PHP ${{ matrix.php }}, Symfony ${{ matrix.symfony }}
    strategy:
      matrix:
        operating-system: [ubuntu-latest]
        php: ['8.4']
        symfony: [ '5.4.*', '6.0.*' ]
        include:
          - symfony: 5.4.*
            composer-flags: --prefer-lowest

          - symfony: 6.0.*
            composer-flags: --prefer-stable

    runs-on: ${{ matrix.operating-system }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup php
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}

      - name: Download dependencies
        uses: php-actions/composer@v6
        with:
          command: update
          args: --ignore-platform-reqs ${{ matrix.composer-flags }}

      - name: Run PHPUnit unit tests
        run: composer test
